.slider {
  height: 40px;
  border: 2px solid var(--lightRed);
  border-radius: 20px;
  margin-bottom: 10px;
}

.slider.blue {
  border: 2px solid var(--lightBlue);
}

.thumb {
  background-color: var(--lightRed);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.blue .thumb {
  background-color: var(--lightBlue);
}
